header {
  display: flex;
  height: 100vh;
  padding-top: 5%;
  background-color: rgb(40, 9, 78);
  position: relative;
}

h1, p, .nav {
  color: white;
}
.nav{
  margin-top: 20%;
  font-size: 20px;
  cursor: pointer;
  position: relative;
  z-index: 1;
}

.divider {
  background-color: rgb(225, 98, 70);
}

.highlite {
  color: rgb(18, 220, 235);
}
.btn-large {
  background-color: rgb(225, 98, 70);
}

body{
  height: 100%;
  margin: 0;

}
.content {
  /*display: flex;*/
  /*height: 100vh;*/
  margin: 50px 110px;
}
select, input {
  margin-top: 10px;
  margin-bottom: 10px;
}
button {
  margin-top: 5%;
}
#map {
  width: 75%;
  padding-bottom: 50%;
  /*margin-right: 5px;*/
  border: 2px solid black;
}
table {
  background-color:rgb(15, 183, 196);
  padding: 20px;
  /*border: 2px solid black;*/
}
thead {
  border-bottom: 1px solid black;
}
a {
  color: black;
}
form {
  color:white;  
}
