header {
  display: flex;
  height: 100vh;
  padding-top: 5%;
  background-color: rgb(40, 9, 78);
  position: relative;
}

h1, p, .nav {
  color: white;
}

.divider {
  background-color: rgb(225, 98, 70);
}

.highlite {
  color: rgb(18, 220, 235);
}
.btn-large {
  background-color: rgb(225, 98, 70);
}

body{
  height: 100%;
  margin: 0;

}
.content {
  /*display: flex;*/
  height: 80vh;
  margin: 50px 110px;
}
select, input {
  margin-top: 10px;
  margin-bottom: 10px;
}
button {
  margin-top: 5%;
}
#map {
  width: 75%;
  padding-bottom: 50%;
  /*margin-right: 5px;*/
  border: 2px solid black;
}

thead {
  border-bottom: 1px solid black;
}
a {

  color: black;
}
form {
  color:white;
}
li{
  font-size: 16px;
  padding-bottom: 5%;
}
i {
  display: inline-block;
  vertical-align: middle;
}
#modal1{
  max-height: 100vh;
  background-color: rgb(69, 16, 135);
  padding-top: 25px;
  padding-bottom:25px;
  color: white;
}

/*.sampleClass {float:left;}
@media only screen and (max-width: 800px){
	.sampleClass {float:none;}
}*/

@media(min-width: 800px){
  #mobileButton {
    display: none;
  }
}
@media(max-width: 800px){
  .content {
    margin: 0;
  }
  #map{
    width: 100%;
  }
}
