header {
  display: flex;
  height: 100vh;
  padding-top: 5%;
  background-image: url('https://images.pexels.com/photos/8313/food-eating-potatoes-beer-8313.jpg?w=1260&h=750&auto=compress&cs=tinysrgb');
  background-repeat:no-repeat;
  background-size:cover;
  position: relative;
}
.container{
  padding: 20px;
  margin-bottom: auto;
  background-color: rgba(68, 69, 69, 0.8);
}

h1, p, .nav {
  color: white;
}

.divider {
  background-color: rgb(225, 98, 70);
}

.highlite {
  color: rgb(18, 220, 235);
}
.btn-large {
  background-color: rgb(225, 98, 70);
}

body{
  height: 100%;
  margin: 0;

}
.content {
  /*display: flex;*/
  height: 80vh;
  margin: 50px 110px;
}
select, input {
  margin-top: 10px;
  margin-bottom: 10px;
}
button {
  margin-top: 5%;
}
#map {
  width: 75%;
  padding-bottom: 50%;
  border: 2px solid black;
}

thead {
  border-bottom: 1px solid black;
}
a {

  color: black;
}
form {
  color:white;
}
li{
  font-size: 16px;
  padding-bottom: 5%;
}
i {
  display: inline-block;
  vertical-align: middle;
}
#modal1{
  max-height: 100vh;
  background-color: rgb(68, 69, 69);
  padding-top: 25px;
  padding-bottom:25px;
  color: white;
}


@media(min-width: 800px){
  #mobileButton {
    display: none;
  }
}
@media(max-width: 800px){
  .content {
    margin: 0;
  }
  #map{
    width: 100%;
  }
}
